{% extends 'dashboard.html.twig' %}

{% block title %}Niveaux{% endblock %}

{% block body %}
{{ include('partiel/flash.html.twig') }}
         <div class="mt-4" style="width:90%;margin-left:auto;margin-right:auto">
                <h4 class="text-center mb-5">Ajouter Les Niveaux !</h4>
                <div class="w-100 row ">
                    <form method="post" class="w-100">
                            <div class="w-100 h-100 d-flex flex-column gap-3">
                                <div class="d-flex">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="niveau" placeholder="entrer le niveau d'etude" style="height:50px;">
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-success">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="w-100 mt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="border">
                                <th class="border text-center">Niveau d'etude</th>
                                <th class="border text-center">action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for niveaux in niveau %}
                                <tr>
                                    <td class="text-center">{{ niveaux.niveaux }}</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ niveaux.Id }}">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <div class="modal fade" id="exampleModal{{ niveaux.Id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modification Niveaux</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                            <form method="POST" action="{{ path('niveaux_update',{id:niveaux.Id}) }}" enctype="multipart/form-data">
                                                <input type="text" value="{{ niveaux.niveaux }}" class="form-control form-control-user mb-2" name="niveau">
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="column-gap: 10px;">
                                            <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success btn-sm">Modifier</button>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                    </div>

                                        <a class="btn btn-sm btn-danger" href="{{ path('niveaux_delete',{id:niveaux.Id}) }}"><i class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
{% endblock %}